@{
    ViewBag.Title = "About KCC";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<br/>
<h4>Kitty Community College is the Nation's top-ranked Feline Finishing School!</h4>
<br/>
<p>KCC offers a wide seletion of self-directed learning opportunitites for the discerning feline.</p>
<p>At KCC, we understand the needs of today's housecat, and their staff</p>
<p>In addition to the best curriculum available - we now offer online classes too!</p>
