@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Furrysoft Way<br />
    Redmond, WA 98052-6399<br />

</address>

<address>
    <strong>Feline Support:</strong>   <a href="mailto:SengeSterling@gmail.com">TheCat@KittyCC.com</a><br />
    <strong>Staff (Human) Support:</strong> <a href="mailto:SandyGlantz@gmail.com">TheStaff@KittyCC.com</a>
</address>