@{
    ViewBag.Title = "KittyCC";
}

<div class="jumbotron">
    <h1>Kitty Community College</h1>
    <p class="lead">Kitty CC course registration is now open!</p>
    <br/>
    <p>Special shout-out to Entity Frameworks Code-First for making this site possible.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Just use the Student link above to register.  We've used a code-first Entity Framework approach to be able to keep all your data.
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Open registration</h2>
        <p>We believe in self-directed education here at Kitty Community College.  Feel free to enter the class of your choice.</p>
        
    </div>
    <div class="col-md-4">
        <h2>Napping Policy</h2>
        <p>We understand the need for play breaks and naps and have incorporated naps into every class!</p>
       
    </div>
</div>